$dark-green: #0d1a08;
$brunswick: #344e41;
$hunter: #3a5a40;
$sage: #babd8d;
$mint-cream: #f1f7ed;

.body_style {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $brunswick;
    color: $mint-cream;
    text-align: center;
}

/********** SearchBar **********/
.search_field {
    margin: 3rem 40vw;
    border: 1px solid #0f210e;
    border-radius: 5px;
    background-color: #b7c6b5;
    padding-left: 20px;
    color: black;
    width: 20vw;
    height: 3rem;
    font-size: 1.2rem;
}

/********** List **********/
.list_body {
    display: flex;
    background-color: $sage;
    width: 50vw;
    height: auto;
    margin-left: 25vw;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;

    ul {
        list-style: none;
        text-align: left;
        margin-left:35px;
        color: $dark-green;
        li {
            padding: 1.5rem;
            display: inline-block;
            span {
                font-weight: bold;
            }
        }
    }
}

/********** Paginator **********/
.paginator_body {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.page_arrow {
    padding-left: 10px;
    padding-right: 10px;
}
.arrow_image {
    cursor: pointer;
}
.page_num_box {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.box {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid $mint-cream;
    margin-left: 2.5px;
    margin-right: 2.5px;
}
.page_number {
    margin: 3px;
    cursor: pointer;
}