$dark-green: #0d1a08;
$brunswick: #344e41;
$hunter: #3a5a40;
$sage: #babd8d;
$mint-cream: #f1f7ed;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $brunswick;
  color: $mint-cream;
}
/********** SearchBar **********/
.search-title {
  color: green;
}
/********** List **********/
.list_title {
  text-align: right;
  color: red;
}
.list_body {
  display: flex;
  background-color: $sage;
  width: 50vw;
  height: 60vh;
  margin-left: 25vw;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  ul {
      padding: 0;
      list-style: none;
      color: $dark-green;
  }
}
/********** Paginator **********/
.pg_title {
  color: blue;
}
:export {
  
}