@use './index.scss';

.list_title {
    text-align: center;
}
.list_body {
    display: flex;
    background-color: index.$sage;
    width: 50vw;
    height: 60vh;
    margin-left: 25vw;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.list_ul {
    padding: 0;
    list-style: none;
    color: index.$dark-green;
}